.escondido{
    display: none;
}
.tela3{
    background-color: #FAFAFA;
}
.cabecalho{
    width: 100%;
    height: auto;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.cabecalho h1{
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    padding-top: 13px;
    padding-bottom: 13px;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    font-family: 'Roboto', sans-serif;
}
.tela3 h4{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    margin-top: 84px;
    margin-bottom: 27px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}
.centralizar{
 display: flex;
 justify-content: center;
}
.formulario1{
    background-color: #FFFFFF;
    width: 600px;
    height: 265px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.formulario1 .titulo input,
.formulario1 .imagem input,
.formulario1 .quantidadePerguntas input,
.formulario1 .nivel input{
    width: 564px;
    height: 46px;
    padding-left: 23px;
    font-size: 19px;
    font-style: italic;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 9px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 5px;
    
}
.formulario1 .titulo,
.formulario1 .imagem,
.formulario1 .quantidadePerguntas,
.formulario1 .nivel{
    padding-left: 16px;
}
.formulario1 .titulo{
    padding-top: 21px;
}
.botaoFormulario1{
    background-color: #EC362D;
    width: 368px;
    height: 54px;
    border-radius: 15px;
    margin-top: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.botaoFormulario1 h3{
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}
@media (max-width: 1100px) {
    .formulario1{
        width: 100%;
    }
    .formulario1 .titulo input,
    .formulario1 .imagem input,
    .formulario1 .quantidadePerguntas input,
    .formulario1 .nivel input{
    width: 100%;
    padding-left: 14px;
}
    .formulario1 .titulo,
    .formulario1 .imagem,
    .formulario1 .quantidadePerguntas,
    .formulario1 .nivel{
        padding-left: 8px;
        padding-right: 8px;
        box-sizing: border-box;
    }
    .botaoFormulario1{
    width: 324px;
}
    .botaoFormulario1 h3{
    font-size: 18px;
}
}
/* ========== TELA 1 ========== */ 
/* topo */

.tela1{
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top{
    width: 100%;
    height: 69px;

    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;

    color: #FFFFFF;

    box-sizing: border-box;
}
/* área do usuário */

header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.usuario{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 1052px;
    height: 181px;

    background: #FAFAFA;
    border: 1px dashed #D5D5D5;
    box-sizing: border-box;
    border-radius: 5px;

    box-sizing: border-box;
    margin-bottom: 77px;
    margin-top: 77px;

}
span{
    display:block;
}
.usuario span{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #B9B9B9;
}
.usuario button{
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    box-sizing: border-box;
    border-radius: 50px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #EC362D;
}

/* conteudo - qizzes */

.corpo{
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.todosQuizzes{
    width: 1052px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 199px;
    margin-top: 10px;

}
.imagensQuizzes{
    position: relative;
    box-sizing: border-box;
    margin-bottom: 12px;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 67%, #000000 100%);
    transform: scale(1);
}
.imagensQuizzes:hover{
    cursor: pointer;
    transform: scale(1.07);
    transition: transform .2s;
}
.imagensQuizzes img{
    width: 340px;
    height: 181px;
    border-radius: 5px;
    object-fit: cover;
    -webkit-mask-image: linear-gradient(to top, transparent 25%, black 100%);

}
.legendaQuizz{
    width: 301px;
    height: 54px;
    flex-wrap: wrap;
    word-wrap: break-word;
    position: absolute;
    bottom: 12px;
    left: 12px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

/* ========== TELA2 ========== */

.containerTela2{
    display: flex;
    justify-content: center;
    background-color: #FAFAFA;

}


.cabecalhoTela2{
    background-color: blue;
    position: relative;
}
.tituloQuizz{
    position: absolute;
    width: 1051px;
    height: 54px;
    left: 209px;
    top: 156px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}
.imagemTop img{
    width: 100%;
    height: 227px;
    object-fit: cover;

}

.perguntas{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 759px;
    box-sizing: border-box;
    margin-top: 42px;
    padding-left: 36.43px;
    padding-right:  36.43px;
    padding-top: 27.92px ;
    padding-bottom: 17.05px;

    background-color: #FFFFFF
}
.pergunta{
    width: 687.5px;
    height: 137.99px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: blueviolet;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;

    color: #FFFFFF;

    box-sizing: border-box;
    margin-bottom: 18.61px;
}
.opcoes{
    width: 685px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.opcoes img{
    width: 329.91px;
    height: 175.2px;
}
.opcao{
    flex-wrap: wrap;
    word-wrap: break-word;

}
.opcao span{
    width: 329.91px;
    height: 34.11px;
    word-wrap: break-word;
    box-sizing: border-box;
    margin-top: 7.75px;
    margin-bottom: 18.61px;
}
.esmaecido{
    opacity: 30%;
}
.vermelho{
    color: red;

}
.verde{
    color: green;
}
.resultado{
    width: 759px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 18px;
    margin-top: 44px;
    background-color: #FFFFFF;
}
.cabecalhoResultado{
    background: #EC362D;
    display: flex;
    width: 727px;
    height: 99px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 18px;

    color: #FFFFFF;
}
.imagemTextoResultado{
    display: flex;
    justify-content: space-between;

}
.imagemTextoResultado img{
    width: 364px;
    height: 273px;
}
.imagemTextoResultado p {
    color: #484848;
    font-weight: 700;
    font-size: 19px;
}

.imagemTextoResultado div {
    width: 328px;
    height: 250px;
    margin-left: 12px;
}
.botaoReiniciarQuizz{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 52px;
    background-color: #EC362D;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 40px;
}

.botaoReiniciarQuizz span {
    color: #FFF5F4;
    font-weight: 400;
    font-size: 21px;
}

.botaoHome {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 219px;
    height: 44px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 40px;
}

.botaoHome span {
    color: #818181;
    font-size: 21px;
    font-weight: 400;
}

@media (max-width: 1100px) {
    /*TELA 1 */
    
    .tela1{
        width: 100%;
    }
    .top{
        width: 100%;
    }
    .usuario{
       width: 100%;
    }
    .todosQuizzes{
       width: 100%;
       flex-direction: column;
    }
    .imagensQuizzes img{
        width: 100%;
    }
    .todosOsQuizzes{
        box-sizing: border-box;
    }
    
    /* TELA 2 */
}