/* TELA1 */
.escondido{
    display: none;
}
/* topo */
.tela1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top{
    width: 100%;
    height: 69px;

    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;

    color: #FFFFFF;

    box-sizing: border-box;
    margin-bottom: 77px;
}

/* área do usuário */

header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.usuario{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 1052px;
    height: 181px;

    background: #FAFAFA;
    border: 1px dashed #D5D5D5;
    box-sizing: border-box;
    border-radius: 5px;

    box-sizing: border-box;
    margin-bottom: 77px;
}
span{
    display:block;
}
.usuario span{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #B9B9B9;
}
.usuario button{
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    box-sizing: border-box;
    border-radius: 50px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #EC362D;
}

/* conteudo - qizzes */

.todosQuizzes{
    width: 1052px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 199px;
    margin-top: 10px;

}
.imagensQuizzes{
    position: relative;
    box-sizing: border-box;
    margin-bottom: 12px;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 67%, #000000 100%);
    transform: scale(1);
}
.imagensQuizzes:hover{
    cursor: pointer;
    transform: scale(1.07);
    transition: transform .2s;
}
.imagensQuizzes img{
    width: 340px;
    height: 181px;
    border-radius: 5px;
    object-fit: cover;
    -webkit-mask-image: linear-gradient(to top, transparent 25%, black 100%);

}
.legendaQuizz{
    position: absolute;
    bottom: 12px;
    left: 12px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}
@media (max-width: 1100px) {
    .tela1{
        width: 100%;
    }
    .top{
        width: 100%;
    }
    .usuario{
       width: 100%;
    }
    .todosQuizzes{
       width: 100%;
       flex-direction: column;
    }
    .imagensQuizzes img{
        width: 100%;
    }
    .todosOsQuizzes{
        box-sizing: border-box;
}
}